<div id="contacto" class="container">
    <div class="row section-header">
        <div class="col-md-12 text-center">
            <h1 class="title">CONTACTO</h1>
            <p>¿Tienes un proyecto en mente? No dudes en contactarnos.</p>
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <form name="contacto" method="POST">
                <div class="form-group">
                    <label>Nombre (*)</label>
                    <input type="text" name="nombre" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Mail (*)</label>
                    <input type="text" name="mail" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Tel&eacute;fono (*)</label>
                    <input type="text" name="fono" class="form-control"/>
                </div>
                <div class="form-group message">
                    <label>Comentario (*)</label>
                    <textarea name="comentario" class="form-control"></textarea>
                </div>
                <div id="enviar-container" class="form-group text-center">
                    <p class="disclaimer text-left">(*) Campos Obligatorios</p>
                    <button class="btn btn-primary">ENVIAR</button>
                </div>
            </form>
        </div>
    </div><!-- /.row -->
</div>
